*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
 height: 260vh;
}

.banner-image{
    background-image: url(img/pexels-eberhard-grossgasteiger-629162.jpg);
    height: 50vh;
    background-size: cover;
}
.theme-text{
    color: red;
    font-size: 30px;
   
}

.space{

 margin: 5px;
}
    
.nav-link{
    font-size: 19px;
}

.navbar-item :hover{
    
   border: 0px solid rgb(223, 173, 173);
   border-radius: 6px;
   background-color: rgb(211, 114, 114);
     
}

i{
    cursor: pointer;
}
